<!-- views/blogs.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>
</head>
<body>
  <h1>Blogs</h1>

  <!-- new blog -->
  <a href="/new-blog">
    <button>New Blog</button>
  </a>

  <!-- blogs posted by this user -->
  <a href="/my-blogs">
    <button>My Blogs</button>
  </a>



</body>
</html>
